<a href="https://colab.research.google.com/github/niktaas/Oil-Price/blob/main/OilPrice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# !pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)

In [ ]:
# !pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

# Web Scraping

In [ ]:
from time import sleep
from random import randint
import requests
from bs4 import BeautifulSoup
import pandas as pd
from datetime import datetime

In [ ]:
# !pip install nltk

In [ ]:
# url = 'https://oilprice.com/Energy/Oil-Prices/'

In [ ]:
# headlines=[]
# dates=[]

# r = requests.get(url)
# soup = BeautifulSoup(r.text, 'html.parser')
# first_news = soup.find_all('div', class_ = 'categoryArticle__content')
# print(len(first_news))
# for row in first_news:
#   first_headline = row.a.h2.text
#   headlines.append(first_headline)

#   first_info = row.p.text
#   first_buggy_date = first_info.split("at",1)[0]
#   first_date = first_buggy_date.rstrip(first_buggy_date[-1])
#   dates.append(first_date)

# print(headlines)
# print(dates)

In [ ]:
# pages = [str(i) for i in range(2,115)]

In [ ]:
# for page in pages:
#   r = requests.get(url+'Page-'+str(page)+'.html')
#   #dely
#   sleep(randint(1,4))

#   soup = BeautifulSoup(r.text, 'html.parser')
#   news = soup.find_all('div', class_ = 'categoryArticle__content')
#   for row in news:
#     headline = row.a.h2.text
#     headlines.append(headline)

#     info = row.p.text
#     buggy_date = info.split("at",1)[0]
#     date = buggy_date.rstrip(buggy_date[-1])
#     dates.append(date)

In [ ]:
# print(len(headlines))
# print(len(dates))

In [ ]:
# df = pd.DataFrame({'headline': headlines,
# 'date': dates})

In [ ]:
# df.head()

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/oilprice.csv'

In [ ]:
# with open(path, 'w', encoding = 'utf-8-sig') as f:
#   df.to_csv(f)

In [ ]:
oilprice = pd.read_csv(path)
oilprice

,Unnamed: 0,headline,date
0,0,Brent Crude Falls Below $100 On China Lockdown...,"Apr 25, 2022"
1,1,Chinese Oil Demand Set For 1.2 Million Bpd Plu...,"Apr 22, 2022"
2,2,Large Crude Draw Sends Oil Prices Higher,"Apr 20, 2022"
3,3,Oil Dips As IMF Slashes Economic Growth Forecasts,"Apr 19, 2022"
4,4,JPMorgan: Immediate EU Ban On Russian Oil Coul...,"Apr 19, 2022"
...,...,...,...
2275,2275,Oil Prices Fall as Winter Premium Melts Away,"Jan 16, 2010"
2276,2276,A Disobliging Update on the Price of Oil,"Jan 09, 2010"
2277,2277,What Happens When the Wells Run Dry?,"Jan 08, 2010"
2278,2278,Petro Unfriendly California Changing it's Stan...,"Dec 30, 2009"
2279,2279,New Techniques Oil Companies are Using in Dril...,"Nov 25, 2009"

In [ ]:
investigate_oilprice = pd.read_csv('/content/drive/My Drive/Crude Oil WTI Futures Historical Data.csv')
investigate_oilprice.head()

           Date   Price    Open    High     Low     Vol. Change %
0  Apr 25, 2022   98.62  100.55  100.85   95.31        -   -1.90%
1  Apr 24, 2022  100.53  101.34  101.34  100.09        -   -1.51%
2  Apr 22, 2022  102.07  104.07  104.22  101.06        -   -1.66%
3  Apr 21, 2022  103.79  102.50  105.42  102.01  280.32K    1.01%
4  Apr 20, 2022  102.75  103.05  104.16  100.70   17.02K    0.19%

In [ ]:
investigate_oilprice.drop(['Open', 'High', 'Low', 'Vol.', 'Change %'], axis=1,inplace=True)
investigate_oilprice.head()

           Date   Price
0  Apr 25, 2022   98.62
1  Apr 24, 2022  100.53
2  Apr 22, 2022  102.07
3  Apr 21, 2022  103.79
4  Apr 20, 2022  102.75

In [ ]:
investigate_oilprice.rename(columns={"Date": "date"}, inplace=True)

# Merging

In [ ]:
merged = pd.merge(oilprice,investigate_oilprice,on='date')
merged.head()

,Unnamed: 0,headline,date,Price
0,0,Brent Crude Falls Below $100 On China Lockdown...,"Apr 25, 2022",98.62
1,1,Chinese Oil Demand Set For 1.2 Million Bpd Plu...,"Apr 22, 2022",102.07
2,2,Large Crude Draw Sends Oil Prices Higher,"Apr 20, 2022",102.75
3,3,Oil Dips As IMF Slashes Economic Growth Forecasts,"Apr 19, 2022",102.56
4,4,JPMorgan: Immediate EU Ban On Russian Oil Coul...,"Apr 19, 2022",102.56

In [ ]:
merged.drop(['Unnamed: 0'], axis=1,inplace=True)

In [ ]:
# Merged = merged.groupby('date',as_index=False).apply(lambda x: x.sum())
# Merged = merged.groupby('date',as_index=False).sum()
Merged = merged.groupby(['date' , 'Price'], as_index=False).agg({'headline': ' '.join})

In [ ]:
Merged

              date   Price                                           headline
0     Apr 01, 2011  107.94  Cushing Storage Maxed Out: U.S. Crude Oil To H...
1     Apr 01, 2015   50.09  Finally Some Good News For Oil Prices What If ...
2     Apr 01, 2016   36.79  Oil Price Shock Might Not Be Far Away What Hap...
3     Apr 01, 2020   20.31  Trump May Join Oil Talks Between Russia And Sa...
4     Apr 01, 2022   99.27    Biden's SPR Release Sends Oil Prices Below $100
...            ...     ...                                                ...
1417  Sep 30, 2010   79.97            Prediction for the Next Oil Price Shock
1418  Sep 30, 2016   48.24  OPEC Has Just Put A Floor Under Oil Prices Wil...
1419  Sep 30, 2019   54.07  $300 Oil: What If The Attacks In Saudi Arabia ...
1420  Sep 30, 2020   40.22  Oil Prices Rise After EIA Reports Small Crude ...
1421  Sep 30, 2021   75.03  The Recent Oil Price Rally Can’t Be Justified ...

[1422 rows x 3 columns]

In [ ]:
# for i in Merged.duplicated(subset=['headline']):
#   if i:
#     print(i)

In [ ]:
# string to date object
Date=[]
for d in Merged['date']:
  try:
    Date.append(datetime.strptime(d, '%b %d, %Y'))
  except ValueError:
    print(d)

In [ ]:
Merged['Date']=Date
Merged.drop(['date'], axis=1,inplace=True)

In [ ]:
Merged.sort_values(by=['Date'],inplace=True)

In [ ]:
Merged.head()

      Price                                           headline       Date
1160  77.96  New Techniques Oil Companies are Using in Dril... 2009-11-25
355   79.28  Petro Unfriendly California Changing it's Stan... 2009-12-30
507   82.75               What Happens When the Wells Run Dry? 2010-01-08
593   73.64  Are Official Estimates of Oil Reserves Correct... 2010-01-28
385   71.89        Endless Oil: Prices NOT Peaks are the Issue 2010-02-08

In [ ]:
# building target
s =[]
s.append(0)
for i in range(1,len(Merged)):
  if Merged['Price'][i]< Merged['Price'][i-1]:
    s.append(0)
  else:
    s.append(1)

In [ ]:
Merged['s']=s

In [ ]:
Merged.head()

      Price                                           headline       Date  s
1160  77.96  New Techniques Oil Companies are Using in Dril... 2009-11-25  0
355   79.28  Petro Unfriendly California Changing it's Stan... 2009-12-30  0
507   82.75               What Happens When the Wells Run Dry? 2010-01-08  0
593   73.64  Are Official Estimates of Oil Reserves Correct... 2010-01-28  0
385   71.89        Endless Oil: Prices NOT Peaks are the Issue 2010-02-08  1

# Balance checking

In [ ]:
#Balance
cz=0
co=0
for i in s:
  if i == 0:
    cz=cz+1
  else:
    co=co+1
print(cz)
print(co)

664
758

In [ ]:
len(Merged)

1422

# PreProcessing

In [ ]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
import re
from nltk.tokenize import word_tokenize
from string import punctuation 
from nltk.corpus import stopwords
#nltk.download('stopwords')
from nltk.stem.porter import *

preprocessed=[]
for txt in Merged['headline']:
  txt = txt.lower() # convert text to lower-case
  txt = re.sub('((www\.[^\s]+)|(https?://[^\s]+))', 'URL', txt) # remove URLs
  txt = re.sub('@[^\s]+', 'AT_USER', txt) # remove usernames
  txt = re.sub(" \d+", " ", txt) #remove digits
  txt = re.sub(r'#([^\s]+)', r'\1', txt) # remove the # in #hashtag
  txt = word_tokenize(txt)
  final = [word for word in txt if not word in stopwords.words() and len(word)>=3] #stop words
  preprocessed.append(final)

In [ ]:
data = pd.DataFrame(preprocessed).fillna('0')

# Embedding

In [ ]:
!pip install gensim

Requirement already satisfied: gensim in /usr/local/lib/python3.7/dist-packages (3.6.0)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.15.0)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.4.1)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim) (5.2.1)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.21.6)

In [ ]:
import gensim
from gensim.models import Word2Vec

In [ ]:
word2vec = gensim.models.Word2Vec(data.values.tolist())

In [ ]:
vocabulary = word2vec.wv.vocab
#vocabulary

In [ ]:
len(word2vec.wv['0'])

100

In [ ]:
import numpy as np
Data = []
for row in data.values.tolist():
  tmp=[]
  for word in row:
    if word in vocabulary:
      tmp.append(word2vec.wv[word])
    else:
      tmp.append(word2vec.wv['0'])
  Data.append(tmp)

In [ ]:
pd.DataFrame(Data)

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,"[0.08888887, 0.48992577, 0.012810764, 0.035572...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.18883562, 0.9032818, 0.055079054, 0.1169932...","[0.03663623, 0.21539475, 0.005331595, 0.018540...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.010630372, 0.0879466, 0.0034074213, -0.0031...","[0.18883562, 0.9032818, 0.055079054, 0.1169932...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...",...,"[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ..."
1,"[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.18883562, 0.9032818, 0.055079054, 0.1169932...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...",...,"[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ..."
2,"[0.03250283, 0.16924834, 0.0030456744, 0.00388...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.03681914, 0.18459095, 0.009473712, 0.020247...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...",...,"[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ..."
3,"[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.18883562, 0.9032818, 0.055079054, 0.1169932...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.03336419, 0.16652483, 0.006531925, 0.011266...","[0.18883562, 0.9032818, 0.055079054, 0.1169932...","[0.18575901, 0.862208, 0.03950022, 0.12141003,...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...",...,"[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ..."
4,"[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.18883562, 0.9032818, 0.055079054, 0.1169932...","[0.18575901, 0.862208, 0.03950022, 0.12141003,...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...",...,"[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1417,"[0.18883562, 0.9032818, 0.055079054, 0.1169932...","[0.18575901, 0.862208, 0.03950022, 0.12141003,...","[0.10613317, 0.53896886, 0.022835884, 0.065579...","[0.09759692, 0.5150388, 0.017710129, 0.0483393...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.029947208, 0.14213347, 0.0012521141, 0.0107...","[0.03005334, 0.15524505, 0.009412865, 0.015064...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...",...,"[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ..."
1418,"[0.18883562, 0.9032818, 0.055079054, 0.1169932...","[0.02791634, 0.17347814, 0.0035953803, 0.00683...","[0.029601408, 0.18428038, 0.0009793045, 0.0125...","[0.029541131, 0.17378637, 0.0053690625, 0.0117...","[0.072182655, 0.38151428, 0.009955413, 0.03886...","[0.040049657, 0.22702757, 0.0049039535, 0.0153...","[0.018676924, 0.12887248, 0.001298121, -0.0002...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.030535597, 0.1776771, 0.0062757935, 0.00780...",...,"[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ..."
1419,"[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.14994027, 0.76710474, 0.031304684, 0.086680...","[0.014152533, 0.093702465, 0.00573952, 0.00329...","[0.041567057, 0.20468718, 0.00582759, 0.013156...","[0.18883562, 0.9032818, 0.055079054, 0.1169932...","[0.18575901, 0.862208, 0.03950022, 0.12141003,...","[0.09940718, 0.50613934, 0.03155659, 0.0644257...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...",...,"[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ..."
1420,"[0.03727776, 0.22189884, 0.0023675282, 0.01252...","[0.18883562, 0.9032818, 0.055079054, 0.1169932...","[0.10756954, 0.5295615, 0.031045793, 0.0627847...","[0.09670928, 0.5381586, 0.011110904, 0.0393335...","[0.043495387, 0.22291009, 0.007296557, 0.01497...","[0.028363636, 0.17150472, 0.0027623782, 0.0080...","[0.05098984, 0.2599338, 0.00216954, 0.01372936...","[0.019769909, 0.114734314, 0.0020841584, 0.011...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...",...,"[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ..."
1421,"[0.10086717, 0.49686003, 0.015339475, 0.053489...","[0.14994027, 0.76710474, 0.031304684, 0.086680...","[0.04718456, 0.2622166, 0.0076792375, 0.016847...","[0.09082552, 0.44887188, 0.022227501, 0.052860...","[0.063709706, 0.34179488, 0.007832243, 0.03674...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.04744849, 0.2663215, 0.0067726113, 0.026933...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...",...,"[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ...","[0.26077336, 1.188104, 0.09751854, 0.2168447, ..."

# Split

In [ ]:
train = Data[:995]
test = Data[995:]

In [ ]:
x_train = np.asarray(train)
x_test = np.asarray(test)

In [ ]:
y_train = Merged['s'][:995]
y_test = Merged['s'][995:]

# Building Model

In [ ]:
from keras.models import Sequential
from keras.layers import Dense,LSTM

In [ ]:
len(x_train[0][0])

100

In [ ]:
# Build LSTM model
model=Sequential()
model.add(LSTM(35,activation="relu",return_sequences=True,input_shape=(35,100)))
model.add(LSTM(35,activation="relu",return_sequences=False))
model.add(Dense(1))

In [ ]:
# Compile the model
model.compile(optimizer='adam',loss='mean_squared_error', metrics='accuracy')

In [ ]:
model.fit(x_train,y_train,epochs=10)

Epoch 1/10
32/32 [==============================] - 3s 29ms/step - loss: 0.2691 - accuracy: 0.5075
Epoch 2/10
32/32 [==============================] - 1s 29ms/step - loss: 0.2522 - accuracy: 0.4995
Epoch 3/10
32/32 [==============================] - 1s 30ms/step - loss: 0.2532 - accuracy: 0.4864
Epoch 4/10
32/32 [==============================] - 1s 29ms/step - loss: 0.2514 - accuracy: 0.4905
Epoch 5/10
32/32 [==============================] - 1s 30ms/step - loss: 0.2541 - accuracy: 0.4864
Epoch 6/10
32/32 [==============================] - 1s 30ms/step - loss: 0.2606 - accuracy: 0.5015
Epoch 7/10
32/32 [==============================] - 1s 30ms/step - loss: 0.2535 - accuracy: 0.5005
Epoch 8/10
32/32 [==============================] - 1s 29ms/step - loss: 0.2508 - accuracy: 0.5025
Epoch 9/10
32/32 [==============================] - 1s 30ms/step - loss: 0.2507 - accuracy: 0.5085
Epoch 10/10
32/32 [==============================] - 1s 29ms/step - loss: 0.2494 - accuracy: 0.5286

In [ ]:
y_predict = model.predict(x_test)

In [ ]:
y_pred=[]
tmp=[]
for item in y_predict:
  if item[0]>=0.5:
    tmp.append(1)
  else:
    tmp.append(0)
y_pred = np.array(tmp)
#y_pred

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.5433255269320844